@import-normalize; /* bring in normalize.css styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #32323c;
    font-size: 14px !default;
    font-weight: 400;
    line-height: 1.4;
    overflow: hidden;
    overflow-y: auto;
  }
}
